<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Mercury Tours Regression Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="85796e">  <td>19/02/09 11:01:56</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginRegressionSuite.browserAppLaunch()[pri:0, instance:com.mercury.test.LoginRegressionSuite@548a9f61]">&gt;&gt;browserAppLaunch</td> 
<td>&nbsp;</td>  <td>main@125622176</td>   <td></td> </tr>
<tr bgcolor="85796e">  <td>19/02/09 11:02:52</td>   <td>56317</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginRegressionSuite.verifyValidLogin()[pri:0, instance:com.mercury.test.LoginRegressionSuite@548a9f61]">verifyValidLogin</td> 
  <td>main@125622176</td>   <td></td> </tr>
<tr bgcolor="85796e">  <td>19/02/09 11:03:05</td>   <td>69102</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginRegressionSuite.closeApp()[pri:0, instance:com.mercury.test.LoginRegressionSuite@548a9f61]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@125622176</td>   <td></td> </tr>
<tr bgcolor="85796e">  <td>19/02/09 11:03:06</td>   <td>70278</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginRegressionSuite.browserAppLaunch()[pri:0, instance:com.mercury.test.LoginRegressionSuite@548a9f61]">&gt;&gt;browserAppLaunch</td> 
<td>&nbsp;</td>  <td>main@125622176</td>   <td></td> </tr>
<tr bgcolor="85796e">  <td>19/02/09 11:03:16</td>   <td>79690</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginRegressionSuite.verifyInvalidLogin()[pri:1, instance:com.mercury.test.LoginRegressionSuite@548a9f61]">verifyInvalidLogin</td> 
  <td>main@125622176</td>   <td></td> </tr>
<tr bgcolor="85796e">  <td>19/02/09 11:03:26</td>   <td>89657</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginRegressionSuite.closeApp()[pri:0, instance:com.mercury.test.LoginRegressionSuite@548a9f61]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@125622176</td>   <td></td> </tr>
<tr bgcolor="98978d">  <td>19/02/09 11:03:27</td>   <td>90633</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FlightFinderRegressionSuite.browserAppLaunch()[pri:0, instance:com.mercury.test.FlightFinderRegressionSuite@475530b9]">&gt;&gt;browserAppLaunch</td> 
<td>&nbsp;</td>  <td>main@125622176</td>   <td></td> </tr>
<tr bgcolor="98978d">  <td>19/02/09 11:03:35</td>   <td>98523</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FlightFinderRegressionSuite.verifyDefaultSelectionFlightType()[pri:0, instance:com.mercury.test.FlightFinderRegressionSuite@475530b9]">verifyDefaultSelectionFlightType</td> 
  <td>main@125622176</td>   <td></td> </tr>
<tr bgcolor="98978d">  <td>19/02/09 11:03:45</td>   <td>108850</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FlightFinderRegressionSuite.closeApp()[pri:0, instance:com.mercury.test.FlightFinderRegressionSuite@475530b9]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@125622176</td>   <td></td> </tr>
<tr bgcolor="98978d">  <td>19/02/09 11:03:46</td>   <td>109531</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FlightFinderRegressionSuite.browserAppLaunch()[pri:0, instance:com.mercury.test.FlightFinderRegressionSuite@475530b9]">&gt;&gt;browserAppLaunch</td> 
<td>&nbsp;</td>  <td>main@125622176</td>   <td></td> </tr>
<tr bgcolor="98978d">  <td>19/02/09 11:03:53</td>   <td>117272</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FlightFinderRegressionSuite.verifyDepartingFromValueSelection()[pri:1, instance:com.mercury.test.FlightFinderRegressionSuite@475530b9]">verifyDepartingFromValueSelection</td> 
  <td>main@125622176</td>   <td></td> </tr>
<tr bgcolor="98978d">  <td>19/02/09 11:04:12</td>   <td>136003</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FlightFinderRegressionSuite.closeApp()[pri:0, instance:com.mercury.test.FlightFinderRegressionSuite@475530b9]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@125622176</td>   <td></td> </tr>
</table>
